# Masukan APP ID ambil di web my.telegram.org
API_KEY = "6"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOJwBu63HjdGbhqqLf69x-T4FuGej0I8judI_Fy3eBIQSJqxJiETBGULOXJ8GBcMS14LAHZ5haHhBb3upag3ux1GapsHAe83RebBATYMaRqhTy8UnDtW1UeX3dF_oyq-CvukE_GsKUKIkqP1FFlKp4fmIWNgbpES_YCpT5ucnDKU1PR8xT3r94bTnRX12c_mP9-UQpuJFV1dW6kpAiMatrscDbIb4bJK4qeQbwgnoBgpI3v2uTky6PfpdDx7CzyNqP3aVo3iKz9xqaj1-bQdIAaAwAFrPdJgFzQAVLS3ujKRAtyiyDt_o5xFjyjV71jPaVZzeTOmYBgrbSJLWlq2P1cLxCHc="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = ""

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = ""

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

